body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 150%;
}

#experience * {
  font-size: 100%;
}

#theo {
  display: block;
  width: 50%;
  margin: auto;
  position: relative;
  top: 10%;
}

.section {
  height: 100vh;
  /* border: 3px solid green; */
}

/* FOR SIDENAV */
.ham-cont {
  position: fixed;
  top: 5%;
  left: 80%;
  right: 0px;
  z-index: 20;
}

.my-nav {
  /* background-color: grey; */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0s;
  position: fixed;
  height: 100%;
  width: 0%;
  z-index: 10;
  color: rgba(255, 255, 255, 0.5);
}

.my-nav-link-container {
  width: 100%;
  margin-top: 5%;
  text-align: center;
}
.my-nav-link {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

.my-nav-link:hover,
.my-nav-link:focus {
  color: #f1f1f1;
}

.hero {
  margin-top: 20%;
  height: 80%;
  /* box-shadow: inset 5px 5px 5px rgb(0, 0, 0, 0.2),
    inset -5px -5px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0, 0.3),
    -5px -5px 15px rgb(255, 255, 255, 0.1);
  border-radius: 15px; */
}

.connect {
  width: 50%;
  margin: auto;
  position: relative;
  top: 15%;
  /* border: 3px solid green; */
  text-align: center;
}

.connect .row {
  margin: 0;
  padding: 2%;
}

.connect a .fa {
  cursor: pointer;
  transition: 0.5s;
}

.connect a .fa {
  /* border: 3px solid red; */
  cursor: pointer;
  padding: 10px;
  box-shadow: inset 5px 5px 5px rgb(0, 0, 0, 0.2),
    5px 5px 15px rgb(0, 0, 0, 0.3), -5px -5px 15px rgb(255, 255, 255, 0.1);
}

.connect .fa:hover {
  transform: translateY(-10px);
}

.down-btn-container {
  text-align: center;
  position: relative;
  top: 25%;
  height: 25vh;
  padding: 3%;
}

.down-btn-container .btn-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  text-align: center;
  width: 100%;
}

.down-btn-container button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);

  outline: none;
  border: 3px solid red;
  padding: 3%;
  border-radius: 5px;
  width: 20%;
  trasform: translateY(0px);
  animation: 2s ease-in btn-anim infinite;
  cursor: pointer;
}

.down-btn-container button:focus {
  /* background-color: transparent; */
  background-color: rgba(10, 9, 9, 0.521);
}

.down-btn-container button:hover {
}

/* SCROLL UP */
.scrollup {
  cursor: pointer;
  position: fixed;
  z-index: 3;
  bottom: 3%;
  right: 3%;
  outline: 0px;
  padding: 20px;
  border: none;
  color: white;
  background-color: rgba(10, 9, 9, 0.521);
}

.scrollup:hover {
  background-color: rgb(10, 9, 9);
}

.scrollup:focus {
  background-color: rgba(10, 9, 9, 0.521);
}

/* FOR NAV */
.nav {
  padding: 1%;
  display: none;
  /* background-color: #232427; */
  /* border: 3px solid blue; */
}
.nav .brand-name,
.navlink-box {
  display: inline-block;
}
.brand-name {
  width: 20%;
  color: rgba(255, 255, 255, 0.719);
  font-weight: bolder;
}

.brand-name span {
  font-size: 25px;
  padding: 0 5%;
}

.navlink-box {
  text-align: right;
  width: 80%;
  list-style-type: none;
}

.navlink-box ul {
  /* border: 1px solid blue; */
  padding: 0px;
  margin: 0px;
}
.navlink-box ul li {
  display: inline-block;
  margin-left: 5%;
}

.navlink-box ul li a {
  color: rgba(255, 255, 255, 0.719);
  font-size: 20px;
}

.navlink-box ul li:hover {
  border-bottom: 2px solid red;
  cursor: pointer;
  /* box-shadow: inset 5px 5px 5px rgb(0, 0, 0, 0.2),
    inset -5px -5px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0, 0.3),
    -5px -5px 15px rgb(255, 255, 255, 0.1);
  border-radius: 30px; */
}

/* FOOTER */
.footer {
  padding: 5%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

/* ANIMATED BUTTON */
.btn-animated-con {
  display: flex;
  align-items: center;
}
.btn-animated {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  background-color: #363636;
  color: #fff;
  padding: 10px 30px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  animation: 2s ease-in btn-anim infinite;
}

.btn-animated span {
  position: relative;
  z-index: 1;
}

.btn-animated::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: red;
  transition: width 0.5s, height 0.5s;
}

.btn-animated:hover::before {
  width: 300px;
  height: 300px;
}

/* STACK */
.stack {
  /* background-color: #232427; */
  margin-bottom: 10%;
}
.stack-heading-pri {
  color: white;
  font-size: 2.7rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.stack-heading-sec {
  color: white;
  text-align: center;
}

.stack-section {
  position: relative;
  color: white;
  z-index: 2;
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 5%;
}

.stack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

.stack-container .stack-card {
  position: relative;
  min-width: 320px;
  height: 300px;
  box-shadow: inset 5px 5px 5px rgb(0, 0, 0, 0.2),
    inset -5px -5px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0, 0.3),
    -5px -5px 15px rgb(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
}

.stack-container .stack-card .stack-box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border: 2px solid #1e1f23;
  box-shadow: 0 20px 50px rgb(0, 0, 0, 0.5);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stack-container .stack-card .stack-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

.stack-container .stack-card .stack-box:hover {
  transform: translateY(-50px);
  box-shadow: 0 40px 70px rgb(0, 0, 0, 0.5);
}

.stack-container .stack-card .stack-box .stack-content {
  padding: 20px;
  text-align: center;
}

.stack-container .stack-card .stack-box .stack-content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.5);
}

.stack-container .stack-card .stack-box .stack-content p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  transition: 0.5s;
}

.stack-container .stack-card .stack-box .stack-content a {
  position: relative;
}

/* ABOUT SECTION */
.about {
  /* background-color: #232427; */
  padding: 5%;
  margin-bottom: 10%;
}
.about-section {
  position: relative;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  background-color: black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-section .about-content {
  height: auto;
  min-width: 320px;
  width: 800px;
  padding: 5%;
  background-color: black;
}
.about-content h2 {
  color: white;
  text-align: center;
}

.about-section .con img {
  height: 100%;
  width: 100%;
}

.auto-type-section {
  /* color: rgba(255, 255, 255, 0.5); */
  width: 100%;
  margin: auto;
  position: relative;
  top: 40%;
  /* border: 3px solid green; */
  text-align: center;
}

.auto-type-section .auto-type-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: column;
  background-color: rgba(14, 14, 14, 0.76);
}

.auto-type-content strong {
  font-size: 2rem;
  text-align: center;
  color: white;
  line-height: 50px;
}

.auto-type-content p {
  color: rgba(230, 230, 230, 0.92);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 2px;
}

/* PROJECT SECTION */
.pro {
  /* background-color: #232427; */
  /* padding: 5%; */
}
.project-section {
  position: relative;
  z-index: 2;
  color: white;
  margin-bottom: 10%;
  background-color: black;
  padding: 5%;
}

#project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
}

.project-heading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.project-heading h3 {
  font-size: 2.7rem;
  font-weight: 600;
  text-transform: uppercase;
}

.project-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  /* border: 1px solid rgba(237, 237, 237, 0.6); */
  flex-wrap: wrap;
}

.project-filter li {
  margin: 10px;
  padding: 5px 20px;
  color: #9b9b9b;
  letter-spacing: 0.5px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}

.project-filter-active {
  background-color: #f0f0f0;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.project-box {
  width: 330px;
  padding: 15px;
  /* border: 1px solid #eeeeee; */
  margin: 20px;
  display: block;
  transition: 0.5s;
  box-shadow: inset 5px 5px 5px rgb(0, 0, 0, 0.2),
    inset -5px -5px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0, 0.3),
    -5px -5px 15px rgb(255, 255, 255, 0.1);
  border-radius: 15px;
}

.project-box img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

/* DESKTOP MODE */
@media only screen and (min-width: 600px) {
  .hero {
    position: relative;
    margin-top: 20%;
    height: 70%;
    /* border: 3px solid red; */
    /* border: 1px solid black; */
  }

  .nav {
    position: absolute;
    width: 100%;
    display: block;
    z-index: 1000000;

    /* border: 3px solid green; */
  }
  .ham-cont {
    display: none;
  }

  .about-section .about-content {
    width: 600px;
    word-wrap: break-word;
    text-align: center;
  }

  .down-btn-container {
    top: 15%;
    height: auto;
  }

  .down-btn-container .btn-box {
    top: 200%;
  }
}

/* Experience Section */
.experience {
  color: white;
  padding: 5%;
  background-color: black;
}
.experience > p,
h3 {
  text-align: center;
}

.experience h3 {
  color: white;
  font-size: 2.7rem;
  font-weight: 600;
  text-transform: uppercase;
}

.experience-section {
  padding: 5%;
  box-shadow: inset 5px 5px 5px rgb(0, 0, 0, 0.2),
    inset -5px -5px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0, 0.3),
    -5px -5px 15px rgb(255, 255, 255, 0.1);
}

.experience-content span.pri {
  font-size: 2.1rem;
  font-wieght: 400;
}
.experience-content p {
  color: rgba(255, 255, 255, 0.5);
}

/* contact section */
form {
  background-color: #363636;
  padding: 3%;
}
form input,
textarea {
  color: white;
}

form .header {
  color: white;
  font-size: 2.7rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

form button {
}
@media only screen and (min-width: 450px) {
  .down-btn-container {
    top: 15%;
    height: auto;
  }

  .down-btn-container .btn-box {
    top: 100%;
  }
}
/* ANIMATIONS */
@keyframes btn-anim {
  0% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(4px);
  }
  70% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(1px);
  }
}
